body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(164, 86, 225);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
   
    
}



.container{
    background-color: black;
    color: white;
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 12px  ;
   
    
    

}

.month{
    background-color:rgb(26, 192, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    border-radius: 12px 12px 0 0 ;
    


}

.month h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

.month p{
    font-size: 20px;
    font-weight: bold;
}

.weekdays{
    display: flex;
    width: 100%;
    
    height: 50px;
    
    
}

.weekdays div{
    font-size: 20px;
    width: 100%;
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}

.days{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2px;

}

.days div{
    font-size: 15px;
    margin: 3px;
    display: flex;
   height: 55px;
   width: 64.5px;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
}

.days div:hover:not(.empty){
    border: 2px solid gray;
    cursor: pointer;
}


.today{
    background-color: lightseagreen;
}
.name{
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    left: 80px;
    position: absolute;
    color: rgb(0, 0, 0);
    top:30px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0px;

}
